@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
    height:min-content;
    width: 100%;
    font-family: sans-serif;
}


.btn-grad {
    background-image: linear-gradient(20deg, #2877b5 0%,   #C9C0A5 100%);
    padding: 15px 40px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #C9C0A5;
    border-radius: 10px;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }



  .text-jelly:hover {
    animation: animate 0.6s;
    
  }

@keyframes animate {
    25% {
        transform: scale(0.8,1.3)
    }
    50% {
        transform: scale(1.1,0.8)
    }
    75% {
        transform: scale(0.7,1.2)
    }
  
}



.btn-grad-light {
  background-image: linear-gradient(20deg, #085078 0%, white  51%, #085078  100%);
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;            
  box-shadow: 0 0 5px #C9C0A5;
  border-radius: 10px;
}

.btn-grad-light:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}


.border-bottom-spaced {
  border-bottom: 3px solid #416A59;
  box-shadow: 0px 0px 20px 3px #416A59;
}


/* loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 2px solid #00ff00;
  border-top-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite, glow 1s ease-in-out infinite alternate;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
}